.root {
  :global {
    li {
      display: inline-flex;

      &.selected {
        a {
            background: #fe5f1e;
            color: #fff;
        }
      }
    }
    a {
      color: #fe5f1e;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 45px;
      height: 45px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #fe5f1e;

        color: #fff;
      }
    }
  }
}
